doctype html
html
    head
    body
        h1#welcome Welcome to h1 tag
        p.big-para.
            Description, you can find here
            and this is also description
        .display-box
        input(type="password" name="inpPwd" data-js=`${ 5>2 ? "OK" : "Not OK"}`)
        - const myClasses = ['Math', 'COA', 'DataCom']
        div(class = myClasses)
        - const myStyles = {"color": "red", "background-color": "blue",}
        div(style=myStyles)

        - const myAttributes = {"src": "myPhoto.png", "alt": "This is my photo"}
        img&attributes(myAttributes)

        input(type="text" disabled)

        link(rel="stylesheet" href="style.css")
        style.
            p {
                color: red;
                text_decoration: underline;
            }